h1 {
 background-color: rgb(2, 12, 12);
 color: rgb(237, 250, 55);
 text-align: center;
}

h3{
 color: black;
}

p{
 color: blue;
 font-style: italic;
 font-weight: 200;
}

ul{
 list-style: none;
}

.malo{
 color: red;
 font-size: 22px;
}

.bueno{
 color: green;
 font-size: 20px;
}

#caja{
 background-color: burlywood;
 border: 5px solid black;
 box-sizing: border-box;
 color: blue;
 font-weight: 200;
 height: 250px;
 margin-left: 100px;
 padding: 30px;
 width: 300px;
}