h1 {
 background-color: rgb(2, 12, 12);
 color: rgb(237, 250, 55);
 font-family: "Ojuju", sans-serif;
 text-align: center;
}

h3{
 color: black;
}

p{
 color: blue;
 font-family: "Ojuju", sans-serif;
 font-style: italic;
 font-weight: 500;
}

ul{
 list-style: none;
}

.malo{
 color: red;
 font-size: 22px;
}

.bueno{
 color: green;
 font-size: 20px;
}

#caja{
 background: rgb(34,193,195);
 background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);;
 border: 5px solid black;
 border-radius: 50px 10px;
 box-shadow: 10px 10px 5px black;
 box-sizing: border-box;
 color: rgb(255, 0, 13);
 font-weight: 200;
 height: 250px;
 margin-left: 100px;
 padding: 30px;
 text-align: center;
 width: 300px;
}

.text{
 column-count: 2;
 column-gap: 50px;
}